_Inline/
.Inline/
cache/
!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::NYTProf
nytprof.out

*.d
tags

bin/config.sqlite
bin/csimc
bin/csimcd
bin/junk
bin/libsqlitefunctions.so
bin/stars.sqlite
bin/test.pl
docs/AVS-M234-1000.pdf
docs/IMG_1499.jpeg
docs/IMG_1500.jpeg
docs/IMG_1503.jpeg
docs/IMG_1507.jpeg
docs/IMG_1509.jpeg
docs/IMG_1510.jpeg
docs/LP-Data_Sheet-Mercury-M2000.pdf
docs/PDL-Book-20130322.pdf
libs/
old/
test/dump.star
test/fits/
test/junk.fits
test/libsqlitefunctions.so
test/stars.sqlite

